# Example MySQL config file for very large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# MySQL.
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password   = your_password
port=3306
socket		= /tmp/mysql.sock
# Here follows entries for some specific programs

# The MySQL server
[mysqld]
################################ 指定数据库使用user ##############################
user=mysql
################################ 创建function+view  ##############################
log_bin_trust_function_creators=1
################################ performance_schema ##############################
performance_schema=1
################################ common parameter ################################
# 默认innodb存储引擎, 默认utf8字符集，默认不忽略大小写
default-storage-engine = INNODB
character-set-server=utf8
#collation = utf8_bin
collation_server = utf8_general_ci
sql_mode="STRICT_TRANS_TABLES"

# 文件系统中小写表名，避免兼容性问题
lower_case_table_names=1

# 不解析dns，忽略外部锁
skip-name-resolve
skip-external-locking

# 数据目录
datadir = /usr/local/mysql/data/

# 取消query_cache
query_cache_type        = 0
query_cache_size        = 0

# Try number of CPU's*2 for thread_concurrency , only for solaris
#thread_concurrency      = 8

# table and thread cache
table_open_cache        = 512
table_definition_cache  = 128
thread_cache_size       = 128
#table_open_cache = 2000
#table_definition_cache = 512
#thread_cache_size = 100

#事务隔离级别
#transaction-isolation   = READ-COMMITTED

max_heap_table_size     = 32M
#max_heap_table_size=67108864

# max_length_for_sort_data 避免再次回表获得数据，使用优化过的排序算法
max_length_for_sort_data = 16k

# 是否只读
read_only=0

################################ connection parameter ################################
back_log                = 100
port=3306
socket                  = /usr/local/mysql/tmp/mysql.sock

#最大连接数
#max_connections=2000
max_connections=5000
# 加大该次数，以免is blocked的报错
#max_connect_errors = 1000000
max_connect_errors = 1844674407370954751
max_allowed_packet = 512M

wait_timeout        = 28800
#interactive_timeout = 2880000
interactive_timeout=7200

################################  per thread memory ################################
thread_stack            = 512k
net_buffer_length       = 8K
sort_buffer_size        = 2M
join_buffer_size        = 4M
#join_buffer_size=1048576
read_buffer_size        = 2M
read_rnd_buffer_size    = 512k
#read_rnd_buffer_size = 1M
# 最大内存临时表大小
tmp_table_size          = 32M
#tmp_table_size=262144
binlog_cache_size       = 2M
#binlog_cache_size=1048576

################################  log parameter ################################
#错误日志
log-error=/usr/local/mysql/data/mysql-error.log
#将影响general log和slow log的存放方式，支持TABLE|FILE
log_output=FILE
#log_output=TABLE
log_warnings
#log_warnings=2
#通用日志，记录所有客户端的连接和执行的语句
general_log=OFF
general_log_file=/usr/local/mysql/data/mysql-general.log
#慢查
slow_query_log=1
slow_query_log_file=/usr/local/mysql/data/mysql-slow.log
long_query_time = 2
#log-queries-not-using-indexes
#log-slow-admin-statements

################################  replication parameter ################################
skip-slave-start
#log_slave_updates = 1
relay_log=/usr/local/mysql/logs/relay-log/relay_log

master_info_repository = "TABLE"
relay_log_info_repository = "TABLE"
relay_log_recovery = 1

# 设置复制过滤
replicate_ignore_table=mysql.columns_priv
replicate_ignore_table=mysql.db
replicate_ignore_table=mysql.host
replicate_ignore_table=mysql.procs_priv
replicate_ignore_table=mysql.tables_priv
replicate_ignore_table=mysql.user

replicate-wild-ignore-table = test.%

# 半同步配置
#plugin_dir=/usr/local/mysql/lib/plugin/
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=3000
#rpl_semi_sync_slave_enabled=1
#rpl_semi_sync_master_trace_level=64
#rpl_semi_sync_slave_trace_level=64
#rpl_semi_sync_master_wait_no_slave=1

# Replication Master Server (default)
# binary logging is required for replication
log-bin=/usr/local/mysql/logs/binlog/mysql-bin

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id   = 1

# binlog
autocommit=on
#binlog_format=row
binlog_format=mixed

# binlog最大值
max_binlog_size=512M

#binlog删除的过期时间
expire_logs_days=15
# 保障二进制日志能够刷到磁盘 sync_binlog=1
# 我们这里丢失一些数据没有关系可设置为0
sync_binlog=1

# slave库重连间隔时间
slave_net_timeout=60

################################  MyISAM parameter ################################
key_buffer_size         = 64M
#key_buffer_size = 16M
myisam_sort_buffer_size = 64M
#myisam_sort_buffer_size = 262144
myisam_repair_threads = 1
#myisam_recover


################################  innodb parameter ################################
# innodb 独立表空间
innodb_file_per_table=1
# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir=/usr/local/mysql/data/
innodb_data_file_path=ibdata1:100M:autoextend
innodb_log_group_home_dir=/usr/local/mysql/data/
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 512M
innodb_log_buffer_size = 8M
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 2048M
innodb_additional_mem_pool_size = 10M
#保障innodb tx log innodb_flush_log_at_trx_commit = 1
# 我们这里丢失一些数据没有关系可设置为2
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
# 在innodb lru list 先呆一秒再放到lru头
innodb_old_blocks_time=1000
# 取消二阶段事务
#innodb_support_xa = OFF
# O_DIRECT 刷新
innodb_flush_method=O_DIRECT

innodb_rollback_on_timeout = 1

innodb_io_capacity = 400
innodb_change_buffering=inserts
innodb_use_native_aio = 1
innodb_strict_mode = 1
innodb_purge_threads=1
innodb_read_io_threads = 1
#innodb_read_io_threads = 4
innodb_write_io_threads = 8
#innodb_write_io_threads = 4

# 不开启event
event_scheduler=0

# auto-inc  如果等于2时不会锁表，来一个处理一个，并发最高 不安全，不适合replication
innodb_autoinc_lock_mode = 1

# repair table
myisam_recover_options=force

# 自增ID步长
auto_increment_increment=2
auto_increment_offset=1

# innodb文件格式
innodb_file_format = Barracuda
innodb_file_format_max=Barracuda

#innodb_rollback_segments=16
#innodb_spin_wait_delay=30
#innodb_sync_spin_loops=100

innodb_stats_on_metadata=0


[mysqldump]
quick
max_allowed_packet = 160M

[mysql]
no-auto-rehash
show-warnings
prompt="5.6 \\u@\\h : \\d \\R:\\m:\\s> "
default-character-set = utf8
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout


